body {
  margin: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: center;
}

.name-product {
  min-width: 15vw;
}

.price-product {
  min-width: 8vw;
}

.desc-product {
  max-width: 30vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
